<app-navbar></app-navbar>
<div  class="error"><error-display></error-display></div>
<div class="cart-container">
  <div class="cart-items-container">
    <p class="view-cart-text">View Your Cart</p>
    <div *ngIf="cartCount<=0">
    Your cart is empty ...
    </div>
    <div class="over-flow-control" #populate_cart>
      <div
      class="populate-cart"
      *ngFor="let cartitem of cartitems; let n = index"
    >
      <div class="cartitem">
        <hr class="line" />
        <div class="cart-sections">
          <img
            [src]="cartitem.product.image_url"
            class="image"
            alt="product_img"
          />
          <div class="cart-right-section">
            <p class="title">{{ cartitem.product.name }}</p>
            <p class="description">
              {{ cartitem.product.description }}
            </p>
            <ul>
              <li>
                <div class="item-headers-text">Price:</div>
                <div class="item-data-text">${{ cartitem.product.price | number : '1.2-2' }}</div>
              </li>
              <li>
                <div class="item-headers-text" id="quantity-text-alignment">Quantity:</div>
                <div class="quantity-container">
                  <input
                    class="user-quantity"
                    type="number"
                    min="0"
                    [max]="cartitem.product.quantity"
                    [id]="cartitem.product.id + ',' + 'i' + ',' + n"
                    (keyup)="checkInputQty($event,cartitem.product.quantity)"
                    [value]="cartitem.quantity"
                  />
                  <button
                    type="button"
                    class="q-button"
                    [id]="cartitem.product.id + ',' + 'u' + ',' + n"
                    (click)="
                      updateQuantity(
                        cartitem.product.id + ',' + 'i' + ',' + n,
                        cartitem.product.quantity,
                        cartitem.product.id
                      )
                    "
                  >
                    Update
                  </button>
                </div>
              </li>
              <li>
                <div class="item-headers-text">Total:</div>
                <div class="item-data-text">
                  ${{ cartitem.product.price * cartitem.quantity | number : '1.2-2' }}
                </div>
              </li>
              <li>
                <button type="button" class="w-button" (click)="removeFromCartAndAddToWishlist(cartitem.product.id)">Move to Wishlist</button>
                <div
                  class="r-button"
                  (click)="removeFromCart(cartitem.product.id)"
                  [id]="cartitem.product.id + ',' + 'r' + ',' + n"
                >
                  Remove from Cart
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    </div>
    
  </div>

  <div class="checkout-container">
    <div class="checkout-grid">
      <div class="ch1 c">Subtotal:</div>
      <div class="cd1 d">${{ totalPrice  | number : '1.2-2' }}</div>

      <div class="ch2 c">Discount:</div>
      <div class="cd2 d"></div>

      <div class="ch3 c">Tax:</div>
      <div class="cd3 d"></div>

      <div class="ch4 c">Grand Total:</div>
      <div class="cd4 d">${{ totalPrice | number : '1.2-2' }}</div>
    </div>
    <hr class="line" />
    <button class="c-button" (click)="goTocheckout()">
      Proceed to Checkout
    </button>
  </div>
</div>
