input {
  max-width: 100px;
}

label {
  font-weight: bold;
  color: #14213d;
}

.container {
  padding: 0 35px;
}

.btn {
  text-decoration: none;
  font-weight: bold;
  color: #14213d;
}

.btn:hover {
  color: #fca311;
}
