<img src="../../../assets/images/pg-logo.svg" width="30%" height="30%" alt="Revature">
<error-display></error-display>
<form ngNativeValidate id="register-form" [formGroup]="registerForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="inputUserName">Username</label>
      <input required (change)="trimInput($event)" type="text" class="form-control" formControlName="uname" id="inputUserName" placeholder="Enter Username">
    </div>
    <div class="form-group">
      <label for="inputEmail">Email address</label>
      <input required (change)="trimInput($event)" type="email" class="form-control" formControlName="email" id="inputEmail" aria-describedby="emailHelp" placeholder="Enter Email">
      <small id="emailHelp" class="form-text text-muted">Ensure you enter the correct email</small>
    </div>
    <div class="form-group">
      <label for="inputPassword">Password</label>
      <input required (change)="trimInput($event)" type="password" class="form-control" formControlName="password" id="inputPassword" placeholder="Enter Password">
    </div>
    <button class="btn btn-back">Register</button>
    <button class="btn btn-back" [routerLink]="['/login']">Already a User? Sign In</button>
</form>

