<nav class="navbar navbar-light bg-light">
  <div class="container">
    <a [routerLink]="['/home']" class="navbar-brand">
      <img
        src="../../../assets/images/pg-logo.svg"
        width="50%"
        height="50%"
        alt="Propane Gaming"
      />
    </a>
    <div class="search-container">
      <app-search-bar></app-search-bar>
    </div>
    <form class="form-inline">
      <button class="navBut btn btn-light" href="#">Wishlist</button>
      <button class="navBut btn btn-light" [routerLink]="['/user-profile']">
        <fa-icon [icon]="faUser"></fa-icon>
      </button>
      <button class="navBut btn btn-light" [routerLink]="['/cart']">
        <fa-icon [icon]="faCart"></fa-icon>
        <span class="badge badge-info">{{ cartCount }}</span>
      </button>
      <button *ngIf="userLoggedIn" class="btn btn-outline-danger my-2 my-sm-0" (click)="logout()">
        Logout
      </button>
    </form>
  </div>
</nav>
