.form-inline {
  display: flex;
  gap: 15px;
}

.container {
  display: flex;
  justify-content: space-between;

}

.navBut {
  text-decoration: none;
  font-weight: bold;
  color: #14213d;
}


.navBut:hover {

  color: #fca311;
}

.active {
  color: #fca311;
}

.search-container {
  display: flex;
  justify-content: center;
}

.button2{
  background-color: #eeeeee; /* Green */
  border: none;
  color: rgb(0, 0, 0);
  padding: 5px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 8px;
  font-weight: bold;
}
