.search-container {
  display: flex;
  border-radius: 25px;
  width: fit-content;
  padding: 10px;
  background-color: #c6c8cc;
}

.search-input {
  display: flex;
  width: 250px;
}

input[type="text"] {
  border: none;
  background-color: #c6c8cc;
  color: #14213c;
  width: 100%;
}

input[type="text"]:focus {
  outline: none;
}

select {
  border: 0;
  outline: 0;
  background-color: #c6c8cc;
  color: #14213c;
}

fa-icon {
  color: #14213c;
  stroke: #14213c;
}

.search-dropdown {
  padding-right: 5px;
}

.search-btn {
  padding-left: 5px;
  padding-right: 5px;
  border-left: 1px solid grey;
}
