<div class="search-container">
  <div>
    <select name="tag" id="select-tag" [(ngModel)]="selectedOption">
      <option [value]="'all'" selected>All</option>
      <option *ngFor="let tag of tags" [value]="tag.name">
        {{ tag.name }}
      </option>
    </select>
  </div>
  <div class="search-input">
    <input
      type="text"
      id="search-input"
      [(ngModel)]="searchQuery"
      autocomplete="off"
      (keyup.enter)="searchClicked()"
    />
  </div>
  <div class="search-btn" (click)="searchClicked()">
    <fa-icon [icon]="faSearch"></fa-icon>
  </div>
</div>
