<app-navbar></app-navbar>
   <table class="table table-striped" id="cart-table">
   <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Description</th>
      </tr>
    </thead>
    <tbody id="history-table-body">
        <tr *ngFor="let wishlistItem of wishlistItems;">
            <td>{{wishlistItem.product.name}}</td>
            <td>{{wishlistItem.product.description}}</td>
            <td><button class="btn align-middle" (click)="removeFromWishlist(wishlistItem.id)">Remove from wishlist</button></td>
            <td><button class="btn align-middle" (click)="removeFromWishlistAndAddToCart(wishlistItem.id, wishlistItem.product.id)">Add to cart</button></td>
        </tr>
    </tbody>
</table> -->
<button class="btn btn-danger" [routerLink]="['/user-profile']">Back</button>