<p>order-history works!</p>
<app-navbar></app-navbar>
<table class="table table-striped" id="cart-table">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Name</th>
        <th scope="col">Quantity</th>
        <th scope="col">Description</th>
      </tr>
    </thead>
    <tbody id="cart-table-body">
        <tr *ngFor="let item of orderHistoryItems;">
            <td>{{item.orderHistoryItem.id}}</td>
            <td>{{item.orderHistoryItem.name}}</td>
            <td>{{item.orderHistoryItem.totalQuantity}}</td>
            <td>{{item.orderHistoryItem.totalPrice}}</td>
        </tr>
    </tbody>
</table>
<button class="btn btn-danger" [routerLink]="['/home']">Back</button>