.purchase-time
{
	font-weight: bold;
	color: #14213d;
}

.view-orderhistory-text {
    font-size: 2.75em;
    font-weight: 800;
}
  
.history-table 
{
	border-radius: 10px;
	padding-left:40px;
    padding-right:40px;
	padding-top:20px;
	margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    background-color:#E5E5E5;
}

#leftPadding
{
	padding-left: 120px;	
}
 
#rightPadding
{
	padding-right: 120px;	
}

.fontYellow
{
	color: #FCA311;
	font-weight: bold;
}

.fontDescription
{
	font-size: 14px
}

#centerPadding
{
	padding-right: 0px;	
} 

#bottomPadding
{
	padding-bottom: 40px;
}

#headRow
{
	padding-top:50px;
}

caption{
  color: #6E6E6E;
    caption-side: top;
}

.history-table
{ 
	caption-side: top; 
} 

.btn
{
    margin-left: 2%;
}