<app-navbar></app-navbar>
<table class="history-table">
	<thead>
		<tr>
			<th id="leftPadding"></th>
			<th id="centerPadding">
				<h2 style="text-align:left" id="headRow"><b>Order History</b></h2>
			</th>
			<th id="rightPadding"></th>

		</tr>
	</thead>
	<tbody id="history-table-body">
		<tr>
			<td id="leftPadding"></td>
			<td id="centerPadding">
				<table class="history-list">
					<th>
					</th>
					<tbody id="history-list-body">

						<tr *ngFor="let orders of orderHistoryItems;">
							<td>
								<table id="order-table">
									<tr *ngFor="let item of orders; let i = index">
										<td>
											<table class="Product-table">
												<tbody>
													<tr *ngIf="i==0">
														<hr>
														{{printPurchaseDate(item)}}
													</tr>
													<tr>
														<td>
															<table class="Product-table-image/desc">
																<tr style="padding-top: 100px">
																	<td>
																		<img class="product-image"
																			[src]="item.product.image_url"
																			alt="Card image cap" width="150"
																			height="auto" />
																	</td>
																	<td>
																		<table class="product-table-description">
																			<tr>
																				<td>
																					<p><b>{{item.product.name}}</b></p>
																				</td>
																			</tr>
																			<tr>
																				<td width="600">
																					{{item.product.description}}
																				</td>
																			</tr>
																			<tr>
																				<td>
																					<table class="description-below">
																						<tr>
																							<td>
																								<table
																									class="description-below-price">
																									<tr>
																										<td
																											class="fontYellow" style="padding-right:60px">
																											Price:</td>
																									</tr>
																									<tr>
																										<td>{{item.product.price}}
																										</td>
																									</tr>
																								</table>
																							</td>
																							<td>
																								<table
																									class="description-below-quantity">
																									<tr>
																										<td class="fontYellow"style="padding-right:60px">Quantity:
																										</td>
																									</tr>
																									<tr>
																										<td>{{item.quantity}}
																										</td>
																									</tr>
																								</table>
																							</td>
																							<td>
																								<table
																									class="description-below-price">
																									<tr>
																										<td class="fontYellow"style="padding-right:60px">Total:</td>
																									</tr>
																									<tr>
																										<td>{{getTotalPrice(item)}}
																										</td>
																									</tr>
																								</table>
																							</td>
																						</tr>
																					</table>
																				</td>
																			</tr>
																		</table>
																	</td>
																</tr>
															</table>
														</td>
													</tr>
												</tbody>
											</table>
										</td>
									</tr>
								</table>
							</td>
						</tr>
					</tbody>
				</table>
			</td>
			<td id="rightPadding"></td>
		</tr>
		<tr>
			<td id="bottomPadding"></td>
		</tr>
	</tbody>
</table>
<button class="btn btn-danger" [routerLink]="['/home']">Back</button>