.card {
  size: auto;
  min-width: 275px;
  max-width: 200px;
  height: fit-content;
  transition: 0.2s ease-out;
  background-color: #303e5a;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 15px;
}

img {
  justify-content: center;
  height: auto;
  width: auto;
  max-width: 205px;
  border-radius: 25px;
  left: 0;
  padding-bottom: 10px;
}

div {
  position: relative;
  transition: 0.2s ease-out;
}

.card:hover {
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  transform: translate3d(0, -10px, 0);
}

.btn {
  background-color: #faa229;
  color: #15213c;
  font-weight: bold;
  text-transform: uppercase;
  border-radius: 25px;
}

.card-body.top {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.card-body.top h5 {
  align-self: flex-start;
}

.card-body.top img {
  align-self: flex-start;
}

.card-body.bottom {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.card-body.bottom h5 {
  margin: 0;
}
