.card {
  size: auto;
  max-width: 275px;
  min-width: 200px;
  height: 280px;
  max-height: 300px;
  transition: 0.2s ease-out;
  background-color: #303e5a;
  color: white;
  border-radius: 15px;
}

.card-body {
  padding-bottom: 0;
}

img {
  justify-content: center;
  height: 130px;
  width: 130px;
  border-radius: 25px;
  left: 0;
  margin-bottom: 10px;
}

div {
  position: relative;
  transition: 0.2s ease-out;
}

.card:hover {
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  transform: translate3d(0, -10px, 0);
}

.btn {
  background-color: #faa229;
  color: #15213c;
  font-weight: bold;
  text-transform: uppercase;
  border-radius: 25px;
}

.card-body.bottom {
  width: 100%;
}

.card-body.bottom h5 {
  margin: 0;
  padding-right: 15px;
  font-weight: 600;
}
