<app-navbar></app-navbar>

<h1 id="header"> Account Information </h1>
<!-- PLAYING WITH BOOTSTRAP-->
<div *ngIf = "alertWarning" class="alert alert-warning alert-dismissible fade show" role="alert">
    <strong>Update User Info Failed!</strong> Inputted email is already associated with an account.
    <button (click)="closeAlertWarning()" type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <div *ngIf = "alertSuccess" class="alert alert-success alert-dismissible fade show" role="alert">
    <strong>Successfully Updated User Info!</strong> Account information should display user updates.
    <button (click)="closeAlertSuccess()" type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

<p> User ID: {{user?.id}}</p>
<p> First Name: {{user?.firstname}}</p>
<p> Last Name: {{user?.lastname}}</p>
<p> Username: {{user?.username}}</p>
<p> Email: {{user?.email}}</p>
<p> Password: {{user?.password}}</p>
<!-- There are basically two things we need to do on this form
One is get the User's Data and Display it
Two is add in an update form that'll send a put (update) request-->

<div id="user-container">

    <div class= "userInformation">


    </div>


    <!-- Will be used with hidden toggle to allow users to update their info
        
        hide: boolean = true;

        showOrHideObject(): void {
        this.hide = !this.hide;
  }-->
    <div class = "updatebox">
        <button id="updateButton" (click)="toggleUpdateForm()">Update Info</button>
            <form id = "updatebox" [hidden] = "hideForm">
                <p>First Name</p>
                <input id = "first" [(ngModel)]="userEditing.firstName" type = "first" name="Enter First Name">
                <p>Last Name</p>
                <input id = "last" [(ngModel)]="userLastEditing.lastName" type = "last" name="Enter Last Name">
                <p>Email</p>
                <input id = "email" [(ngModel)]="userEmailEditing.email" type = "email" name="Enter Email">
                <p>UserName</p>
                <input id = "username" [(ngModel)]="userUsernameEditing.username" type = "username" name="Enter Username">
                <p>Password</p>
                <input id="password" [(ngModel)]="userPasswordEditing.password" type="password" name="Enter Password">
                <input type="submit" type="button" value="Update" (click) = "onUpdate()">
            </form>

    </div>

</div>

<button class="btn btn-back" [routerLink]="['/home']">Back</button>






