
#login-form
{
    border-radius: 25px;
    background-color: #e5e5e50F;
    margin-inline: auto;
    padding: 2%;
    justify-content: center;
    width: 40%;
}

.btn
{
    margin: auto;
    margin-right: 2%;
    background-color: #FCA311;
    color: black; 
}

img 
{
    display: block;
    margin-inline: auto;
    padding: 2%;
}

img:hover {
    cursor: pointer;
}

label
{
    color: white;
}