/* You can add global styles to this file, and also import other style files */
<<<<<<< HEAD
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
body {
  font-family: Montserrat;
  background-color: #14213d;
}


/**styling scrollbar*/
/* width */
::-webkit-scrollbar {
  width: 9px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 15px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(114, 116, 102);
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #333232;
=======
@import url('https://fonts.googleapis.com/css?family=Montserrat');
body{
    font-family: Montserrat;
    background-color: #10398d; /*for demo purpose for dsiplay*/
>>>>>>> FE-wishlist-lijalem
}

